body{
    color:rgb(0, 0, 0);
    background-image:url(https://image.tmdb.org/t/p/original/w0eKUOEog2ImtktCHAMUZws8qif.jpg)
}
header {
    border-bottom: solid 2px rgb(0,100,0);
    padding: 20px;
    font-size: 100px;
    color: rgb(10, 87, 10)
    padding-top: 80px;
    display: flex;
    justify-content: center;
    color: rgb(0,100,0)
}
{margin-right: 5%;
}